/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ##################### START OF CODE ############# */
/* ##################### START OF CODE ############# */
/* ##################### START OF CODE ############# */
/* ##################### START OF CODE ############# */
/* ##################### START OF CODE ############# */
/* ##################### START OF CODE ############# */

body {
  font-family: Georgia, Times, serif;
}

* {
  margin: 0;
}

footer {
  margin: 0;
  position: relative;
  bottom: 0;
  background-color: #f5f5f5;
}

/* ##################### HEADER ############# */
/* ##################### HEADER ############# */
/* ##################### HEADER ############# */
/* ##################### HEADER ############# */
/* ##################### HEADER ############# */
/* ##################### HEADER ############# */

.headerfixed {
  position: fixed;
  background-color: #f5f5f5;
  border: none;
  width: 100%;
  top: 0;
}

.logoimg img,
.topmiddle,
.firstlineshop,
.secondlineshop,
.thirdlineshop,
.alltextimgbottommiddle {
  margin: auto;
}

.categoriesimg,
.logoimg,
.panierimg {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

.logoimg img {
  display: block;
}

.listforheader li {
  display: inline;
  padding: 0px 5px 0px 5px;
  font-size: 12px;
  text-align: left;
  color: #5d4e71;
}

.listforheader a {
  text-decoration: none;
  color: #5d4e71;
}

.logoimg {
  width: 46%;
}

.panierimg {
  text-align: right;
}

.listforheader li {
  display: inline;
  padding: 0px 5px 0px 5px;
  font-size: 12px;
  text-align: left;
}

.listforheader li:hover {
  background-color: #e7e7e7;
}

/* ##################### ALL POINTER ############# */
/* ##################### ALL POINTER ############# */
/* ##################### ALL POINTER ############# */
/* ##################### ALL POINTER ############# */
/* ##################### ALL POINTER ############# */
/* ##################### ALL POINTER ############# */

.publicityforsales p,
.categoriesimg img,
.logoimg img,
.panierimg img,
.panierimg p,
.publicityforsales img,
.soldeete,
.viewmore,
.allfirstshop,
.allsecondshop,
.allthirdshop,
.cut,
.listforheader li,
.listtopmiddle li,
.archiduchesselist li,
.collectionlist li,
.informationlist li,
.shopimg img,
.shopimg p,
.firsttaille,
.secondtaille,
.firstarticles input {
  cursor: pointer;
}

/* ##################### PUBLICITY ############# */
/* ##################### PUBLICITY ############# */
/* ##################### PUBLICITY ############# */
/* ##################### PUBLICITY ############# */
/* ##################### PUBLICITY ############# */
/* ##################### PUBLICITY ############# */

.topmiddle,
.firstlineshop,
.secondlineshop,
.thirdlineshop,
.alltextimgbottommiddle {
  width: 90%;
}

.soldeete,
.viewmore {
  border: none;
  border-radius: 3px;
  padding: 10px;
}

.soldeete {
  background-color: #ececec;
}

.viewmore {
  background-color: #444444;
  color: white;
}

.publicityforsales p {
  font-size: 18px;
}

.publicityforsales p:hover {
  color: #cccccc;
}

.soldeete {
  margin-top: 10px;
}

/* ##################### START MIDDLE SHOP ############# */
/* ##################### START MIDDLE SHOP ############# */
/* ##################### START MIDDLE SHOP ############# */
/* ##################### START MIDDLE SHOP ############# */
/* ##################### START MIDDLE SHOP ############# */
/* ##################### START MIDDLE SHOP ############# */

.firstshop,
.secondshop,
.thirdshop {
  width: 49%;
  display: inline-block;
  margin-top: 15px;
}

.titleshop,
.priceshop {
  color: #7b2934;
  display: inline-block;
}

.titleshop {
  text-align: right;
  border-right: 1px solid #e5e5e5;
}

.priceshop,
.alltextimgbottommiddle {
  text-align: left;
}

.allfirstshop,
.allsecondshop,
.allthirdshop {
  -webkit-box-shadow: 0 6px 4px -4px black;
  -moz-box-shadow: 0 6px 4px -4px black;
  box-shadow: 0 4px 3px -2px black;
}

.colorshop {
  width: 100%;
}

.colorshop,
.titleshop,
.priceshop,
footer,
.buttonfirstshop {
  text-align: center;
}

.allfirstshop,
.buttonfirstshop {
    display: block;
}

/* ##################### START MIDDLE BOT ############# */
/* ##################### START MIDDLE BOT ############# */
/* ##################### START MIDDLE BOT ############# */
/* ##################### START MIDDLE BOT ############# */
/* ##################### START MIDDLE BOT ############# */
/* ##################### START MIDDLE BOT ############# */

.firsttext h1 {
  font-size: 30px;
}

.alltextimgbottommiddle h2 {
  font-size: 24px;
}

.alltextimgbottommiddle p {
  font-size: 16px;
  line-height: 24px;
}

.alltextimgbottommiddle, {
  color: #444444;
}

/* ##################### START FOOTER ############# */
/* ##################### START FOOTER ############# */
/* ##################### START FOOTER ############# */
/* ##################### START FOOTER ############# */
/* ##################### START FOOTER ############# */
/* ##################### START FOOTER ############# */

footer {
  color: #77777a;
}

footer h4,
footer h5 {
  color: #444444;
  font-size: 20px;
  margin-top: 20px;
}

.followus input[type="text"] {
  background-color: inherit;
  border: none;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  width: 90%;
  padding: 5px;
}

.logoandtext a {
  text-decoration: none;
  color: #77777a;
}

.logoandtext a:hover {
  text-decoration:underline;
}

/* ##################### START BLOG ############# */
/* ##################### START ELOG ############# */
/* ##################### START BLOG ############# */
/* ##################### START BLOG ############# */
/* ##################### START BLOG ############# */
/* ##################### START BLOG ############# */
/* ##################### START BLOG ############# */
/* ##################### START BLOG ############# */
/* ##################### START BLOG ############# */
/* ##################### START BLOG ############# */

.allarticles {
  width: 95%;
  display: block;
  margin: auto;
  margin-top: 60px;
}

.firstarticles iframe {
  text-align: center;
}

.firstarticles input {
  background-color: #e6e6e6;
  border-radius: 3px;
  border: none;
  color:#bfbfbc;
}

.firstarticles input:hover {
  color: black;
}

.allarticles h1 {
  font-size: 22px;
  color: #444444;
}

.allarticles p,
.allarticles h2 {
  font-size: 10px;
  color: #777;
}


/* ##################### START PHONE ############# */
/* ##################### START PHONE ############# */
/* ##################### START PHONE ############# */
/* ##################### START PHONE ############# */
/* ##################### START PHONE ############# */
/* ##################### START PHONE ############# */

@media screen and (min-width: 280px) and (max-width: 767px) {

    .panierimg p,
    .firsttaille,
    .secondtaille,
    .shopimg,
    .listforheader,
    .listtopmiddle,
    .archiduchesselist,
    .collectionlist,
    .informationlist,
    .rightposforpc {
      display: none;
    }

    .topmiddle {
      margin-top: 55px;
    }

    .imgendustries {
      margin: 20px 0px 20px 0px;
    }

    .allfirstshop p,
    .allsecondshop p,
    .allthirdshop p {
      font-size: 10px;
      width: 47%;
    }

    .cut {
      margin-top: -11px;
      border: none;
      border-radius: 0px 5px 5px 5px;
      color: white;
      background-color: #9f2134;
      padding: 0px 5px 5px 5px;
    }

    .homefabricate,
    .returnpossible,
    .securisedpayment,
    .livraison {
      width: 48%;
      display: inline-block;
      text-align: center;
      color: #7f778c;
    }

    .securisedpayment {
      vertical-align: top;
    }

}

/* ################## FOR TABLETTE ############### */
/* ################## FOR TABLETTE ############### */
/* ################## FOR TABLETTE ############### */
/* ################## FOR TABLETTE ############### */
/* ################## FOR TABLETTE ############### */

@media screen and (min-width: 768px) and (max-width: 1280px) {

    .firsttaille,
    .secondtaille,
    .categoriesimg,
    .rightposforpc,
    h5 {
      display: none;
    }

/* ################## HEADER ############### */
/* ################## HEADER ############### */
/* ################## HEADER ############### */
/* ################## HEADER ############### */
/* ################## HEADER ############### */

    .logoimg {
      width: 20%;
      display: block;
      margin: auto;
      margin-bottom: 10px;
    }

    .panierimg,
    .shopimg {
      margin-top: -60px;
      font-size: 13px;
      text-align: center;
      width: 7%;
      display: inline-block;
      vertical-align: top;
    }

    .panierimg img,
    .shopimg img {
      width: 40px;
    }

    .panierimg {
      margin-left: 80%;
    }

    .listtopmiddle {
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }

    .listtopmiddle li {
      display: inline;
      color: #70818c;
    }

    /* ################## TOP MIDDLE ############### */

    .publicityforsales img {
      width: 100%;
      display: block;
    }

    .publicityforsales {
      display: inline-block;
      width: 100%;
    }

    .topmiddle {
      display: inline-block;
      margin-left: 10%;
      width: 38%;
      vertical-align: top;
      position: static;
      margin-top: 120px;
    }

    .firstlineshop {
      display: inline-block;
      width: 48%;
      margin-top: 155px;
    }

    .secondshop,
    .thirdshop {
      width: 24%;
    }

    .titleshop,
    .priceshop {
      width: 48%;
    }

    .cut {
      margin-top: -11px;
      border: none;
      border-radius: 0px 5px 5px 5px;
      color: white;
      background-color: #9f2134;
      padding: 0px 5px 5px 5px;
    }

    .firsttext,
    .secondtext,
    .thirdtext,
    .forthtext {
      width: 48%;
      display: inline-block;
    }

    .firsttext,
    .secondtext {
      vertical-align: top;
      margin-top: 5%;
    }

    .imgendustries {
      width: 100%;
    }

    .homefabricate,
    .returnpossible,
    .securisedpayment,
    .livraison {
      display: inline-block;
      text-align: center;
      width: 24%;
      vertical-align: top;
      margin-top: 5%;
      margin-bottom: 5%;
    }

    .logoandtext,
    .archiduchesselist,
    .collectionlist,
    .informationlist,
    .followus {
      width: 19%;
      display: inline-block;
      margin-bottom: 5%;
    }

    .logoandtext,
    .archiduchesselist,
    .collectionlist,
    .informationlist {
      vertical-align: top;
    }

    .logoandtext {
      margin-top: 1%;
    }

    .archiduchesselist li,
    .collectionlist li,
    .informationlist li {
      list-style-type: none;
    }

    .archiduchesselist li:hover,
    .collectionlist li:hover,
    .informationlist li:hover {
      text-decoration: underline;
    }

}

@media screen and (min-width: 1281px) {
  .categoriesimg,
  .firstlineshop,
  .secondlineshop,
  .cut,
  h5 {
    display: none;
  }

/* ################## HEADER ############### */
/* ################## HEADER ############### */
/* ################## HEADER ############### */
/* ################## HEADER ############### */
/* ################## HEADER ############### */

  .logoimg {
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }

  .panierimg,
  .shopimg {
    margin-top: -60px;
    font-size: 13px;
    text-align: center;
    width: 7%;
    display: inline-block;
    vertical-align: top;
  }

  .panierimg img,
  .shopimg img {
    width: 40px;
  }

  .panierimg {
    margin-left: 80%;
  }

  .listtopmiddle {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .listtopmiddle li {
    display: inline;
    color: #70818c;
  }

  /* ################## TOP MIDDLE ############### */

  .publicityforsales img {
    width: 80%;
    display: block;
  }

  .publicityforsales {
    display: inline-block;
    width: 100%;
  }

  .titleshop,
  .priceshop {
    width: 48%;
  }

  .topmiddle {
    display: inline-block;
    margin-left: 10%;
    width: 38%;
    vertical-align: top;
    position: static;
    margin-top: 120px;
  }

  .rightposforpc {
    margin-top: 155px;
    width: 48%;
    display: inline-block;
  }

  .firstshop,
  .secondshop,
  .thirdshop {
    width: 24%;
  }

  .thirdshop {
    width: 16%;
  }

  .buttonfirstshop ul {
    display: inline-block;
  }

  .firsttaille,
  .secondtaille {
    list-style-type: none;
    width: 18px;
    color: white;
    line-height: 8px;
    background-color: #9f2134;
    border-radius: 3px;
    height: 30px;
    padding-top: 5px;
    font-size: 10px;
  }

  .secondtaille {
    margin-left: -30px;
  }

  .firsttaille:hover,
  .secondtaille:hover {
    width: 22px;
  }

  .cut {
    margin-top: -11px;
    border: none;
    border-radius: 0px 5px 5px 5px;
    color: white;
    background-color: #9f2134;
    padding: 0px 5px 5px 5px;
  }

  .firsttext,
  .secondtext,
  .thirdtext,
  .forthtext {
    width: 23%;
    display: inline-block;
    vertical-align: top;
    margin-top: 5%;
  }

  .firsttext,
  .secondtext,
  .thirdtext {
    margin-right: 1%;
  }

  .imgendustries {
    width: 100%;
  }

  /* ICON ON BOTTOM MIDDLE */

  .homefabricate,
  .returnpossible,
  .securisedpayment,
  .livraison {
    display: inline-block;
    text-align: center;
    width: 24%;
    vertical-align: top;
    margin-top: 5%;
    margin-bottom: 5%;
  }

/* FOOTER */

  .logoandtext,
  .archiduchesselist,
  .collectionlist,
  .informationlist,
  .followus {
    width: 19%;
    display: inline-block;
    margin-bottom: 5%;
  }

  .logoandtext,
  .archiduchesselist,
  .collectionlist,
  .informationlist {
    vertical-align: top;
  }

  .logoandtext {
    margin-top: 1%;
  }

  .archiduchesselist li,
  .collectionlist li,
  .informationlist li {
    list-style-type: none;
  }

  .archiduchesselist li:hover,
  .collectionlist li:hover,
  .informationlist li:hover {
    text-decoration: underline;
  }
}
